@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15755803893a2f_09.%20Light%20Sky%20Blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}