.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Palette-colors {
    height: 90%;
}

.footer-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6vh;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-section span {
    margin: 0 1rem;
    font-size: 20px;
}